
<div class="row">
    <div class="col-md-12 col-lg-12">
        <mdb-card class="mdb-card-80">
          <mdb-card-body>
                    <div class="row mt-n2">
                      <div class="col-md-12">
                        <div class="md-form form-sm">
                          <input
                            type="text"
                            class="form-control"
                            mdbInput
                            (keyup)="applyFilter($event)"
                          />
                          <label for="search">Buscar Organización</label>
                        </div>
                      </div>
                    </div>

                  <div class="flex-row">
                    <div class="table-responsive text-nowrap">
                      <table mdbTable [responsive]="true" [bordered]="true" [small]="true" [hover]="true" scrollY="true" style="overflow: auto; height: 50vh">
                        <thead>
                          <tr class="mdb-color darken-3 white-text">
                            <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
                          </tr>
                        </thead>
                        <tbody *ngIf="empresas">
                          <tr mdbTableCol *ngFor="let empresa of empresas; let i = index">
                            
                            <td class="text-center"><a (click)="setOrganizacion(empresa)">{{ i + 1 }}</a></td>
                            <td style="width:60%"><a (click)="setOrganizacion(empresa)">{{ empresa.nombre }}</a></td>
                            <td style="width:40%" class="text-center">
                                <mdb-badge class="badge-item" [primary]="true" style="cursor: pointer" *ngFor="let modulo of empresa.modulos">
                                    {{ modulo.nombre }}
                                </mdb-badge>
                            </td>
                            <td style="width: 5%" class="text-center">
                                <mdb-checkbox [default]="true" [(ngModel)]="empresa.flag_cm_multiples" (change)="changeStatus(empresa)"></mdb-checkbox>
                              </td>
                            <td style="width: 5%" class="text-center">
                              <mdb-checkbox [default]="true" [(ngModel)]="empresa.activo" (change)="changeStatus(empresa)"></mdb-checkbox>
                            </td>
                            <td style="width: 10%" class="text-center">
                                <mdb-badge [danger]="true" (click)="editModal( empresa )" style="cursor: pointer">
                                  <mdb-icon fas icon="pencil-alt" ></mdb-icon> Editar
                                </mdb-badge>
                            </td>
                          </tr>
                        </tbody>

                        <tbody *ngIf="!empresas.length">
                          <tr mdbTableCol >
                            <td style="width: 65%">No se encontraron registros</td>
                            <td style="width: 10%" class="text-center"></td>
                            <td style="width: 30%" class="text-center"></td>
                          </tr>
                        </tbody>

                      </table>
                    </div>
                  </div>

          </mdb-card-body>

          <mdb-card-footer class="text-muted mt-n5">

                <button mdbBtn [outline]="true" [rounded]="true" size="sm" type="button" class="float-left btn-white" mdbWavesEffect (click)="openModal()">
                  <mdb-icon fas icon="plus"></mdb-icon> Agregar
                </button>

                <nav>
                  <ul class="pagination pagination-circle pg-white float-right">
                    <!--<li class="page-item disabled"><a class="page-link" mdbWavesEffect>1 - 10 de 15</a></li>-->
                    <li class="page-item disabled">
                      <a class="page-link" aria-label="Previous" mdbWavesEffect>
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active"><a class="page-link" mdbWavesEffect>1</a></li>
                    <li class="page-item">
                      <a class="page-link" aria-label="Next" mdbWavesEffect>
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>


          </mdb-card-footer>

        </mdb-card>
    </div>
</div>






