<mdb-progress-bar *ngIf="disabled" class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>

    <div class="container">

        <div class="row mt-4">

            <div class="col-xs-12 col-sm-12">

                <div class="titulo_seccion">I. PREGUNTAS PARA TODOS LOS CANDIDATOS (RELACIONADAS A CRITERIOS DE EXCLUSIÓN)</div>
                
            </div>
        </div>

        <div class="form-row">
            <div class="col-xs-12 col-sm-12">
                <table class="table table-sm">
                    <thead>

                        <tr class="mdb-color darken-3 white-text">
                                <th class="text-center"></th>
                                <th class="text-center">Pregunta</th>
                                <th class="text-center">Si</th>
                                <th class="text-center">No</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of registro.seccion_1; let i = index">
                                <td class="text-center">{{ i+1}}</td>
                                <td>{{ item.nombre_pregunta}}</td>
                                <td class="text-center">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="q1_{{ i }}_1" name="q1_{{ i }}" [(ngModel)]="item.respuesta" value="Si" mdbInput>
                                        <label class="custom-control-label" for="q1_{{ i }}_1"></label>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="q1_{{ i }}_2" name="q1_{{ i }}" [(ngModel)]="item.respuesta" value="No" mdbInput>
                                        <label class="custom-control-label" for="q1_{{ i }}_2"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>


        <div class="row mt-4">

            <div class="col-xs-12 col-sm-12">

                <div class="titulo_seccion">II. PARA SER LLENADO POR EL PROFESIONAL QUE REALIZA LA PRUEBA</div>
                
            </div>
        </div>

        <div class="form-row">
            <div class="col-xs-12 col-sm-12">
                <table class="table table-sm">
                    <thead>

                        <tr class="mdb-color darken-3 white-text">
                                <th class="text-center"></th>
                                <th class="text-center">Enfermedad</th>
                                <th class="text-center">Si</th>
                                <th class="text-center">No</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of registro.seccion_2; let i = index">
                                <td class="text-center">{{ i+1}}</td>
                                <td>{{ item.nombre_antecedente }}</td>
                                <td class="text-center">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="q2_{{ i }}_1" name="q2_{{ i }}" [(ngModel)]="item.respuesta" value="Si" mdbInput>
                                        <label class="custom-control-label" for="q2_{{ i }}_1"></label>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="q2_{{ i }}_2" name="q2_{{ i }}" [(ngModel)]="item.respuesta" value="No" mdbInput>
                                        <label class="custom-control-label" for="q2_{{ i }}_2"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-4">

            <div class="col-xs-12 col-sm-12">

                <div class="titulo_seccion">III. PREGUNTAS PARA TODOS LOS ENTREVISTADOS QUE NO TIENEN LOS CRITERIOS DE EXCLUSIÓN Y QUE POR LO TANTO DEBEN HACER LA ESPIROMETRÍA</div>
                
            </div>
        </div>

        <div class="form-row">
            <div class="col-xs-12 col-sm-12">
                <table class="table table-sm">
                    <thead>

                        <tr class="mdb-color darken-3 white-text">
                                <th class="text-center"></th>
                                <th class="text-center">Pregunta</th>
                                <th class="text-center">Si</th>
                                <th class="text-center">No</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of registro.seccion_3; let i = index">
                                <td class="text-center">{{ i+1}}</td>
                                <td>{{ item.nombre_pregunta}}</td>
                                <td class="text-center">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="q3_{{ i }}_1" name="q3_{{ i }}" [(ngModel)]="item.respuesta" value="Si" mdbInput>
                                        <label class="custom-control-label" for="q3_{{ i }}_1"></label>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="q3_{{ i }}_2" name="q3_{{ i }}" [(ngModel)]="item.respuesta" value="No" mdbInput>
                                        <label class="custom-control-label" for="q3_{{ i }}_2"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-12  d-flex justify-content-center">
                <button mdbBtn size="sm" type="cancel" color="danger" (click)="regresar()">Regresar</button>
                <button mdbBtn size="sm" type="submit" (click)="onSubmit()" [disabled]="disabled" color="primary" class="waves-light" mdbWavesEffect>Continuar</button>
            </div>
        </div>
</div>