<mdb-tabset
#staticTabs
[vertical]="true"
[buttonClass]="'md-tabs tabs-3 mdb-color darken-3'" 
[contentClass]="'card'"
>

    <mdb-tab
    heading="INFORMACIÓN EMPRESA"
    >
    <div class="row">
    <div class="col-12">
        <app-datos-empresa
            [registro]="registro"
        ></app-datos-empresa>
    </div>
    </div>
    </mdb-tab>

    <mdb-tab
    heading="ACCESO DE USUARIOS"
    >
    <div class="row">
        <div class="col-12">
            <app-usuarios-empresa
            ></app-usuarios-empresa>
        </div>
    </div>
    </mdb-tab>


</mdb-tabset>
