<div class="row">
    <div class="col-12">
        <mdb-card>
            <mdb-card-title>
                <h5>Registrar Cita</h5>
            </mdb-card-title>
            <mdb-card-body>
                <form class="form-horizontal form-material" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
                    <div class="row">
  
                      
                        <div class="col-sm-3" >
                            <label class="mdb-main-label">Tipo de Cita</label>
                            <select2 
                                placeholder="Seleccione Tipo"
                                [data]="choices_tipos_citas"
                                formControlName="tipo_cita"
                                >
                            </select2>
                        </div>

                      <div class="col-sm-5">
                          <label class="mdb-main-label">Paciente (*)</label>
                          <select2 
                              [data]="choices_tipos_pacientes"
                              placeholder="Seleccione Paciente"
                              displaySearchStatus="always"
                              formControlName="paciente"
                              noResultMessage="No existe resultados"
                              maxResultsMessage="Escriba en el campo de búsqueda"
                              [maxResults]="maxResults"
                              [customSearchEnabled]="true"
                              (open)="_focusPaciente($event)"
                              (search)="_searchPaciente($event)"
                          >
                          </select2>
                      </div>
                      
                    </div>
        
        
                    <div class="form-row mt-4">
                         
                         <div class="col-sm-6">
                              <div class="md-form form-sm form-group mt-1">
                                <textarea type="text" id="form7" class="md-textarea form-control" formControlName="motivo" mdbInput></textarea>
                                <label for="form7">Motivo</label>
                              </div>
                         </div>
        

                        <div class="col-sm-6 horarios">
                            <mdb-badge [primary]="true" [ngClass]="{'select': item.select}" (click)="setHorario(item.id)" *ngFor="let item of horarios">
                                <mdb-icon far icon="clock"></mdb-icon> {{ item.horario }}
                            </mdb-badge>
                        </div> 
                    </div>

                    <hr>

                    <div class="row mt-3">
                        <div class="col-sm-12 d-flex justify-content-center">
                            <button mdbBtn size="sm" type="submit" [disabled]="!registerForm.valid || disabled" color="primary" class="waves-light" mdbWavesEffect>Registrar</button>
                        </div>
                    </div>
        
                </form>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>