<div class="modal-content">

    <form class="form-horizontal form-material" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="modal-header text-center">
        <p class="heading lead"><mdb-icon fas icon="plus"></mdb-icon> Cita</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">

            <div class="row mt-1">
        
                <div class="col-xs-6 col-sm-9" style="margin-top: -0.8rem">
                    <label class="mdb-main-label">Especialidad</label>
                    <select2 >
                    </select2>
                </div>

                <div class="col-xs-6 col-sm-3" style="margin-top: -0.8rem">
                    <label class="mdb-main-label">Tipo de Cita</label>
                    <select class="browser-default custom-select">
                        <option value='' selected disabled>Especialidad</option>
                    </select>
                </div>
            </div>

            <div class="row mt-3">
              
                <div class="col-xs-12 col-sm-12" style="margin-top: -0.8rem">
                    <label class="mdb-main-label">Especialista</label>
                    <select2 >
                    </select2>
                </div>
              
            </div>

            <div class="row mt-3">
             
                <div class="col-xs-12 col-sm-12" style="margin-top: -0.8rem">
                    <label class="mdb-main-label">Paciente</label>
                    <select2 >
                    </select2>
                </div>
            </div>


            <div class="form-row mt-3">
                 
                 <div class="col-md-7 col-sm-12 col-xs-12">
                      <div class="md-form form-sm form-group mt-1">
                        <textarea type="text" id="form7" class="md-textarea form-control" mdbInput></textarea>
                        <label for="form7">Motivo</label>
                      </div>
                 </div>

            </div>

          <div class="form-row ">
                 <div class="col-sm-3">
                      <div class="md-form form-sm form-group mt-1">
                        <input type="text" id="direccion" formControlName="direccion" class="form-control"
                               mdbInput>
                        <label for="direccion">Elegir una Fecha</label>

                      </div>
                  </div>

                  <div class="col-sm-9">
                    <mdb-badge [default]="true">10:00</mdb-badge>
                    <mdb-badge [primary]="true">10:00</mdb-badge>
                    <mdb-badge [success]="true">10:00</mdb-badge>
                    <mdb-badge [info]="true">10:00</mdb-badge>
                    <mdb-badge [warning]="true">10:00</mdb-badge>
                    <mdb-badge [danger]="true">10:00</mdb-badge>
                </div>
            </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn size="sm" type="submit" [disabled]="!registerForm.valid" color="danger" class="waves-light" mdbWavesEffect>Grabar</button>
      </div>

    </form>

  </div>
