<div class="modal-content">

    <form class="form-horizontal form-material" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="modal-header text-center">
        <p class="heading lead"><mdb-icon fas icon="plus"></mdb-icon> Cita</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">



      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn size="sm" type="submit" [disabled]="!registerForm.valid" color="danger" class="waves-light" mdbWavesEffect>Grabar</button>
      </div>

    </form>

  </div>
