    <div class="modal-dialog modal-frame modal-top" role="document">
        <div class="modal-content">
        <div class="modal-body">
          <div class="row d-flex justify-content-center align-items-center">
            
            <div class="col-md-2 col-xs-6 col-sm-3 menu_modulo" [ngClass]="modulo.background" (click)="irModulo(modulo.nombre)" *ngFor="let modulo of modulos">
              <a mdbBtn [floating]="true" size="sm"><mdb-icon fas [icon]="modulo.icono"></mdb-icon></a>
        
              <span class="white-text">{{ modulo.nombre | uppercase }}</span>
            </div>

          </div>
        </div>
      </div>
    </div>
