<mdb-progress-bar *ngIf="disabled" class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <form class="form-horizontal form-material" [formGroup]="registerForm">

            <mdb-card class="mb-3">
                <mdb-card-body>
                    <div class="row">

                        <div class="col-sm-12 pl-4">
                            <div class="titulo_seccion">ORDEN DE ATENCIÓN</div>

                            <div class="row mt-n2">
                                
                                <div class="col-sm-4">
                                    <label class="mdb-main-label">Paciente (*)</label>
                                    <select2 
                                        [data]="choices_tipos_pacientes"
                                        placeholder="Seleccione Paciente"
                                        displaySearchStatus="always"
                                        formControlName="paciente"
                                        noResultMessage="No existe resultados"
                                        maxResultsMessage="Escriba en el campo de búsqueda"
                                        [maxResults]="maxResults"
                                        [customSearchEnabled]="true"
                                        (open)="_focusPaciente($event)"
                                        (search)="_searchPaciente($event)"
                                    >
                                    </select2>
                                </div>
                               
                                <div class="col-sm-3">
                                    <div class="md-form form-sm">
                                        <mat-form-field>
                                            <mat-label>Fecha Examen</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="fecha_examen" (click)="picker.open()" readonly>
                                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                
                                <div class="col-sm-5">
                                    <label class="mdb-main-label">Protocolo (*)</label>
                                    <select2 
                                        [data]="choices_protocolos"
                                        placeholder="Seleccione Protocolo"
                                        displaySearchStatus="always"
                                        formControlName="protocolo"
                                        noResultMessage="No existe resultados"
                                        maxResultsMessage="Escriba en el campo de búsqueda"
                                        [maxResults]="maxResults"
                                        [customSearchEnabled]="true"
                                        (open)="_focusProtocolos($event)"
                                        (update)="selectProtocolo($event)"
                                        (search)="_searchProtocolos($event)"
                                    >
                                    </select2>
                                </div>
                            </div>

                        </div>
                    </div>

                </mdb-card-body>
            </mdb-card>
            
            <mdb-card class="mb-5">
                <mdb-card-body>
                    <div class="row">
                        <div class="col-sm-12">
                            <mdb-stepper #stepper [linear]="true">
                                <mdb-step name="Exámenes" class="step1">

                                    <div class="titulo_seccion">EXÁMENES OCUPACIONALES</div>

                                    <div class="row">
                                        <div class="col-sm-3" *ngFor="let item of choices_fichas; let i = index">
                                            <app-checkbox-item [item]="item"
                                                [items]="[]"  
                                                (selectItem)="changeCheckbox($event, 1)" 
                                                >
                                            </app-checkbox-item>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-12  d-flex justify-content-center">
                                            <button mdbBtn size="sm" color="danger" (click)="regresar()">Cancelar</button>
                                            <button mdbBtn size="sm" color="primary" (click)="stepper.next()">Continuar</button>
                                        </div>
                                    </div>
                                </mdb-step>
                                
                                <mdb-step name="Laboratorio"  class="step2" *ngIf="enable_lab">

                                    <div class="titulo_seccion">TIPOS DE LABORATORIO</div>

                                    <div class="row">
                                        <div class="col-sm-3" *ngFor="let item of choices_grupo_analisis; let i = index">
                                            <app-checkbox-item [item]="item"
                                                [items]="[]"  
                                                (selectItem)="changeCheckbox($event, 2)" 
                                                >
                                            </app-checkbox-item>
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-sm-12  d-flex justify-content-center">
                                            <button mdbBtn size="sm" color="secondary" (click)="stepper.previous()">Regresar</button>
                                            <button mdbBtn size="sm" color="primary" (click)="nextLab()">Continuar</button>
                                        </div>
                                    </div>
                                </mdb-step>

                                <mdb-step name="Análisis"  class="step2" *ngIf="enable_lab">

                                    <div class="mb-3" *ngFor="let item of choices_analisis; let i = index">
                                        
                                        <div class="titulo_seccion">{{ item.examen }}</div>

                                        <div class="row">
                                            <div class="col-sm-4" *ngFor="let analisis of item.results">
                                                <app-checkbox-item [item]="analisis"
                                                    [items]="[]"  
                                                    (selectItem)="changeCheckbox($event, 3)" 
                                                    >
                                                </app-checkbox-item>
                                            </div>
                                        </div>

                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-12  d-flex justify-content-center">
                                            <button mdbBtn size="sm" color="secondary" (click)="stepper.previous()">Regresar</button>
                                            <button mdbBtn size="sm" color="primary" (click)="stepper.next()">Continuar</button>
                                        </div>
                                    </div>
                                </mdb-step>

                                <mdb-step name="Tests" class="step3" *ngIf="enable_psico">

                                    <div class="titulo_seccion">TESTS PSICOLÓGICOS</div>

                                    <div class="row">
                                        <div class="col-sm-4" *ngFor="let item of choices_tests_psicologicos let i = index">
                                            <app-checkbox-item [item]="item"
                                                [items]="[]"  
                                                (selectItem)="changeCheckbox($event, 4)" 
                                                >
                                            </app-checkbox-item>
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-12  d-flex justify-content-center">
                                            <button mdbBtn size="sm" color="secondary" (click)="stepper.previous()">Regresar</button>
                                            <button mdbBtn size="sm" color="primary" (click)="stepper.next()">Continuar</button>
                                        </div>
                                    </div>
                                </mdb-step>
                                <mdb-step name="Finalizar" class="step4">

                                    <div class="alert alert-success text-center" role="alert">
                                        <h4 class="alert-heading">Finalizar Registro</h4>
                                        <p>
                                            Seguro de guardar los cambios y crear la Orden de Atención ?
                                        </p>
                                        <hr />
                                        <p class="mb-0">Si no fuera el caso, y quiere cancelar el proceso, <a (click)="regresar()"><b>haga click AQUI</b></a>
                                        </p>
                                      </div>

                                  <hr>
                                    <div class="row">
                                        <div class="col-sm-12  d-flex justify-content-center">
                                            <button mdbBtn size="sm" color="secondary" (click)="stepper.previous()">Regresar</button>
                                            <button mdbBtn size="sm" color="primary" [disabled]="!registerForm.valid || disabled" (click)="onSubmit()">Grabar</button>
                                        </div>
                                    </div>
                                </mdb-step>
                              </mdb-stepper>
                        </div>
                    </div>

                </mdb-card-body>

            </mdb-card>

        </form>
    </div>
</div>