/*******************
Login register and recover password Page
******************/
.login-register {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: left center;
  height: 100%;
  width: 100%;
  position: fixed; }

.login-box {
  width: 30%;
  margin: 0 auto; }
  .login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px; }
  .login-box .social {
    display: block;
    margin-bottom: 30px; }

#recoverform {
  display: none; }

.login-sidebar {
  padding: 0px;
  margin-top: 0px; }
  .login-sidebar .login-box {
    right: 0px;
    position: absolute;
    height: 100%; }

.logo-img{
  width: 50%;
}

.forget_password{
  font-size: 0.8rem;
}

@media (max-width: 575.98px) {
  .login-box {
    width: 100%;
  }
}
