    <mdb-tabset
      #staticTabs
      [vertical]="true"
      [buttonClass]="'md-tabs tabs-3 mdb-color darken-3'" 
      [contentClass]="'card'"
    >
      <mdb-tab
        heading="DATOS DE SUCURSAL"
      >
        <div class="row">
          <div class="col-12">
            <app-editar-sucursal [registro_id]="sucursal_id" (submitChange)="onEditSucursal($event)"></app-editar-sucursal>
          </div>
        </div>
      </mdb-tab>

      <mdb-tab
        heading="USUARIOS"
      >
      <div class="row">
        <div class="col-12">

          ss
        </div>
      </div>
      </mdb-tab>


      <mdb-tab
        heading="LOGO DE SUCURSAL"
      >
      <div class="row">
        <div class="col-12">
          <app-logo-sucursal  [registro_id]="sucursal_id" (submitChange)="onEditSucursal($event)"></app-logo-sucursal>
        </div>
      </div>
      </mdb-tab>

      <mdb-tab
        heading="FORMATO PDF"
      >
      <div class="row">
        <div class="col-12">

          ss
        </div>
      </div>
      </mdb-tab>

    </mdb-tabset>
