<div class="row">
    <div class="col-md-12 col-lg-12">
        <mdb-card class="mb-5">
            <mdb-card-body>
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <div class="file-field mb-4">
                            <div class="z-depth-1-half mb-4">
                                <img id="imagen_paciente" src="assets/img/image.png" class="img-fluid avatar-pic2">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 pl-4">
                        <div class="titulo_seccion">DATOS DEL ESPECIALISTA</div>

                        <div class="form-row">

                            <div class="col-sm-3">
                                <label class="mdb-main-label">Tipo Documento</label>
                                <select2 [data]="data">
                                </select2>
                            </div>
                            <div class="col-sm-3">
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Número de Documento</label>
                                  </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">N° Colegiatura</label>
                                  </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Fecha de Nacimiento</label>
                                  </div>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col-sm-4">
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Apellido Paterno</label>
                                  </div>
                            </div>

                             <div class="col-sm-4">
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Apellido Materno</label>
                                  </div>
                            </div>

                             <div class="col-sm-4">
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Nombres</label>
                                  </div>
                            </div>

                        </div>

                        <div class="form-row mt-3">
                            
                            <div class="col-sm-3">
                                <label class="mdb-main-label">Genero</label>
                                <select2 [data]="data">
                                </select2>
                            </div>

                             <div class="col-sm-4">
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Teléfono</label>
                                  </div>
                            </div>

                            <div class="col-sm-5">
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Correo Electrónico</label>
                                  </div>
                            </div>
                        
                          
                        </div>
                        
                        <div class="form-row mt-3">
                         
                            <div class="col-sm-3">
                                <label class="mdb-main-label">Estado Civil</label>
                                <select2 [data]="data">
                                </select2>
                            </div>
                            <div class="col-sm-3">
                                <label class="mdb-main-label">Grado de Instrucción</label>
                                <select2 [data]="data">
                                </select2>
                            </div>

                            <div class="col-sm-3">
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Ocupación</label>
                                  </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="form1" class="">Nacionalidad</label>
                                  </div>
                            </div>
                        </div>

                        <div class="form-row mt-3">
                            <div class="col-sm-4">
                                <label class="mdb-main-label">Departamento</label>
                                <select2 [data]="data">
                                </select2>
                            </div>
                            <div class="col-sm-4">
                                <label class="mdb-main-label">Provincia</label>
                                <select2 [data]="data">
                                </select2>
                            </div>
                            <div class="col-sm-4">
                                <label class="mdb-main-label">Distrito</label>
                                <select2 [data]="data">
                                </select2>
                            </div>
                        </div>

                        <div class="form-row mt-3">
                            <div class="col-sm-12">
                                <div class="md-form form-sm">
                                    <input mdbInput type="text" id="form1" class="form-control">
                                    <label for="id_domicilio">Domicilio</label>
                                </div>
                            </div>

                           
                        </div>


                    </div>
                </div>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>