<mdb-card>
    <mdb-card-body>
        <div class="row">
            <div class="col-5 col-sm-2 text-center">
                <img *ngIf="orden.imagen" [src]="orden.imagen" class="img-fluid avatar-header">
                <img *ngIf="!orden.imagen"src="assets/img/image.png" class="img-fluid avatar-header">
            </div>

            <div class="col-7 col-sm-10">
                <table class="table table-sm table-striped text-nowrap mt-3">
                    <tr>
                        <th style="width: 20%">N° Ficha Medica:</th>
                        <td style="width: 40%">{{ orden.no_ficha }}</td>
                        <th style="width: 10%">Fecha:</th>
                        <td style="width: 30%">{{ orden.fecha_examen | date: "dd/MM/yyyy" }}</td>
                    </tr>
                    <tr>
                        <th>Paciente:</th>
                        <td>{{ orden.nombre_paciente }}</td>
                        <th>DNI:</th>
                        <td>{{ orden.no_documento }}</td>
                    </tr>
                    <tr>
                        <th>Tipo Evaluación:</th>
                        <td>{{ orden.nombre_tipo_evaluacion }}</td>
                        <th>Edad:</th>
                        <td>{{ orden.edad }} años</td>
                    </tr>
                    <tr>
                        <th>Empresa:</th>
                        <td>{{ orden.nombre_empresa }}</td>
                        <th>Puesto:</th>
                        <td *ngIf="orden.clave_evaluacion === 'pre'">{{ orden.puesto_postula }}</td>
                        <td *ngIf="orden.clave_evaluacion !== 'pre'">{{ orden.ocupacion }}</td>
                    </tr>
                </table>
            </div>
        </div>        
    </mdb-card-body>
</mdb-card>
