
<app-header-ficha [orden]="orden"></app-header-ficha>

<ul class="nav nav-tabs text-nowrap mt-3">

    <li class="nav-item">
        <a class="nav-link nav-back badge-danger" (click)="regresar()"><i class="fas fa-backward"></i> Regresar</a>
    </li>
    
    <li class="nav-item ml-auto">
        <a class="nav-link" [class.active]="tab==1" (click)="irTab(1)"><i class="fas fa-binoculars"></i> Evaluación</a>
    </li>   

    <li class="nav-item">
        <a class="nav-link" [class.active]="tab==2" (click)="irTab(2)"><i class="fas fa-history"></i> Eval. Previas</a>
    </li>
</ul>

<div class="row pb-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <app-evaluacion *ngIf="tab == 1" [slug]="slug"></app-evaluacion>
                <app-historial *ngIf="tab == 2"></app-historial>
            </div>
        </div>
    </div>
</div>

