
<div class="row">
      <div class="col-md-12 col-lg-12">
          <mdb-card class="mdb-card-80">
            <mdb-card-body>
                      <div class="row mt-n3">
                        <div class="col-md-12">
                          <div class="md-form form-sm">
                            <input
                              type="text"
                              class="form-control"
                              mdbInput
                              (keyup)="applyFilter($event)"
                            />
                            <label for="search">Buscar Empresa</label>
                          </div>
                        </div>
                      </div>

                    <div class="flex-row mt-n3">
                      <div class="table-responsive text-nowrap">
                        <table mdbTable [responsive]="true" [bordered]="true" [small]="true" [hover]="true" scrollY="true" style="overflow: auto; height: 60vh">
                          <thead>
                            <tr class="mdb-color darken-3 white-text">
                              <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
                            </tr>
                          </thead>
                          <tbody *ngIf="empresas">
                            <tr mdbTableCol *ngFor="let empresa of empresas; let i = index">
                              
                              <td class="text-center">{{  i + 1 + perPage * (page - 1) }}</td>
                              <td style="width: 30%">
                                <a (click)="editarRegistro( empresa.slug )">{{ empresa.razon_social }}</a>
                              </td>
                              <td style="width: 10%" class="text-center">{{ empresa.ruc }}</td>
                              <td class="text-left">{{ empresa.rubro }}</td>
                              <td style="width: 35%" class="text-left">{{ empresa.nombre_locacion }}</td>
                              <td class="text-center">
                                {{ empresa.created_name }}
                              </td>
                              <td class="text-center">
                                {{ empresa.created | date: "dd/MM/yyyy, h:mm a" }}
                              </td>
                              <td style="width: 10%" class="text-center">
                                  <mdb-badge [danger]="true" (click)="editarRegistro( empresa.slug )" style="cursor: pointer">
                                    <mdb-icon fas icon="pencil-alt" ></mdb-icon> Editar
                                  </mdb-badge>
                              </td>
                            </tr>
                          </tbody>

                          <tbody *ngIf="!empresas.length">
                            <tr mdbTableCol >
                              <td colspan="8" style="width: 115%">No se encontraron registros</td>
                            </tr>
                          </tbody>

                        </table>
                      </div>
                    </div>

            </mdb-card-body>

            <mdb-card-footer class="text-muted mt-n5">

                  <button mdbBtn [outline]="true" [rounded]="true" size="sm" type="button" class="float-left btn-white" mdbWavesEffect (click)="nuevoRegistro()">
                    <mdb-icon fas icon="plus"></mdb-icon> Agregar
                  </button>

                  <app-pagination
                    (goNext)="onNext()"
                    (goPrev)="onPrev()"
                    [pagesToShow]="1"
                    [page]="page"
                    [perPage]="perPage"
                    [count]="total">
                </app-pagination>

            </mdb-card-footer>

          </mdb-card>
      </div>
</div>






