
<div class="row">
    <div class="col-md-12 col-lg-12">
        <mdb-card class="mdb-card-80">
          <mdb-card-body>
                    <div class="row mt-n3">
                      <div class="col-md-12">
                        <div class="md-form form-sm">
                          <input
                            type="text"
                            class="form-control"
                            mdbInput
                            (keyup)="applyFilter($event)"
                          />
                          <label for="search">Buscar Estudios de Gabinete</label>
                        </div>
                      </div>
                    </div>

                  <div class="flex-row mt-n3">
                    <div class="table-responsive text-nowrap">
                      <table mdbTable [responsive]="true" [bordered]="true" [small]="true" [hover]="true" scrollY="true" style="overflow: auto; height: 60vh">
                        <thead>
                          <tr class="mdb-color darken-3 white-text">
                            <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
                          </tr>
                        </thead>
                        <tbody *ngIf="registros">
                          <tr mdbTableCol *ngFor="let registro of registros; let i = index">
                            
                            <td class="text-center">{{  i + 1 + perPage * (page - 1) }}</td>
                            <td style="width:50%">{{ registro.nombre }}</td>

                            <td class="text-center" style="width:50%">
                                <mdb-badge class="badge-item" [primary]="true" style="cursor: pointer" *ngFor="let item of registro.items">
                                    {{ item.nombre }}
                                </mdb-badge>
                            </td>

                            <td style="width: 10%" class="text-center">
                                <mdb-badge [danger]="true" (click)="editModal(registro)" style="cursor: pointer">
                                  <mdb-icon fas icon="pencil-alt" ></mdb-icon> Editar
                                </mdb-badge>
                            </td>
                          </tr>
                        </tbody>

                        <tbody *ngIf="!registros.length">
                          <tr mdbTableCol >
                            <td colspan="4" style="width: 115%">No se encontraron registros</td>
                          </tr>
                        </tbody>

                      </table>
                    </div>
                  </div>

          </mdb-card-body>

          <mdb-card-footer class="text-muted mt-n5">

                <button mdbBtn [outline]="true" [rounded]="true" size="sm" type="button" class="float-left btn-white" mdbWavesEffect (click)="openModal()">
                  <mdb-icon fas icon="plus"></mdb-icon> Agregar
                </button>

                <app-pagination
                (goNext)="onNext()"
                (goPrev)="onPrev()"
                [pagesToShow]="1"
                [page]="page"
                [perPage]="perPage"
                [count]="total">
              </app-pagination>


          </mdb-card-footer>

        </mdb-card>
    </div>
</div>






