<mdb-progress-bar *ngIf="disabled" class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <form class="form-horizontal form-material" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <mdb-card class="mb-5">
                <mdb-card-body>
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <div class="file-field mb-4">
                                <div class="z-depth-1-half mb-4">
                                    <img id="imagen_paciente" src="assets/img/image.png" class="img-fluid avatar-pic2">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 pl-4">
                            <div class="titulo_seccion">DATOS DEL PACIENTE</div>

                            <div class="form-row">

                                <div class="col-sm-3">
                                    <label class="mdb-main-label">Tipo Documento (*)</label>
                                    <select2 
                                        [data]="tipos_documentos"
                                        placeholder="Seleccione Tipo Documento"
                                        formControlName="tipo_documento"
                                        [value]="documento_default"
                                    >
                                    </select2>
                                </div>
                                <div class="col-sm-3">
                                    <div class="md-form form-sm">
                                        <input mdbInput type="text" id="no_documento" class="form-control form-control-sm" formControlName="no_documento" mdbValidate (change)="searchReniec($event)">
                                        <label for="no_documento" class="">Número de Documento (*)</label>
                                    </div>
                                </div>

                                  
                                <div class="col-sm-2">
                                    <label class="mdb-main-label">Género</label>
                                    <select2 
                                        [data]="tipos_generos"
                                        placeholder="Seleccione Género"
                                        formControlName="genero"
                                        [value]="genero_default"
                                    >
                                    </select2>
                                </div>


                                <div class="col-sm-3">
                                    <mat-form-field>
                                        <mat-label>Fecha Nacimiento</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento" (click)="picker.open()" readonly>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>


                            </div>

                            <div class="form-row mt-n4">
                                <div class="col-sm-4">
                                    <div class="md-form form-sm">
                                        <input mdbInput type="text" id="apellido_paterno" class="form-control form-control-sm" formControlName="apellido_paterno">
                                        <label for="apellido_paterno" class="">Apellido Paterno (*)</label>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="md-form form-sm">
                                        <input mdbInput type="text" id="apellido_materno" class="form-control form-control-sm" formControlName="apellido_materno">
                                        <label for="apellido_materno" class="">Apellido Materno (*)</label>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="md-form form-sm">
                                        <input mdbInput type="text" id="nombres" class="form-control form-control-sm" formControlName="nombres">
                                        <label for="nombres" class="">Nombres (*)</label>
                                    </div>
                                </div>

                            </div>

                            <div class="form-row mt-n4">
                              
                                <div class="col-sm-3">
                                    <div class="md-form form-sm">
                                        <input mdbInput type="text" id="telefono" class="form-control form-control-sm" formControlName="telefono">
                                        <label for="telefono" class="">Teléfono</label>
                                    </div>
                                </div>

                                <div class="col-sm-5">
                                    <div class="md-form form-sm">
                                        <input mdbInput type="text" id="email" class="form-control form-control-sm" formControlName="email">
                                        <label for="email" class="">Correo Electrónico</label>
                                    </div>
                                </div>
                            
                                <div class="col-sm-4">
                                    <div class="md-form form-sm">
                                        <input mdbInput type="text" id="ocupacion" class="form-control form-control-sm" formControlName="ocupacion">
                                        <label for="ocupacion" class="">Ocupación</label>
                                    </div>
                                </div>
                            
                            </div>
                            
                            <div class="form-row mt-n2">
                            
                                <div class="col-sm-4">
                                    <label class="mdb-main-label">Estado Civil</label>
                                    <select2 
                                        [data]="tipos_estado_civil"
                                        placeholder="Seleccione Estado Civil"
                                        formControlName="estado_civil"
                                    >
                                    </select2>
                                </div>

                                <div class="col-sm-4">
                                    <label class="mdb-main-label">Grado de Instrucción</label>
                                    <select2 
                                        [data]="tipos_grado_instruccion"
                                        placeholder="Seleccione Grado Instrucción"
                                        formControlName="grado_instruccion"
                                    >
                                    </select2>
                                </div>


                                <div class="col-sm-4">
                                    <div class="md-form form-sm">
                                        <input mdbInput type="text" id="nacionalidad" class="form-control form-control-sm" formControlName="nacionalidad">
                                        <label for="nacionalidad" class="">Nacionalidad</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row mt-n3">

                                <mat-form-field class="col-sm-4">
                                    <mat-label>Departamento</mat-label>
                                    <mat-select (selectionChange)="changeDepartment($event)" formControlName="departamento">
                                        <mat-option *ngFor="let item of tipos_departamentos" [value]="item.value">
                                            {{item.label | uppercase}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="col-sm-4">
                                    <mat-label>Provincia</mat-label>
                                    <mat-select (selectionChange)="changeProvince($event)" formControlName="provincia">
                                        <mat-option *ngFor="let item of tipos_provincias" [value]="item.value">
                                            {{item.label | uppercase}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="col-sm-4">
                                    <mat-label>Distrito</mat-label>
                                    <mat-select formControlName="ubigeo">
                                        <mat-option *ngFor="let item of tipos_distritos" [value]="item.value">
                                            {{item.label | uppercase}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div class="form-row mt-n3">
                                <div class="col-sm-12">
                                    <div class="md-form form-sm">
                                        <input mdbInput type="text" id="domicilio" class="form-control form-control-sm" formControlName="domicilio">
                                        <label for="domicilio">Dirección</label>
                                    </div>
                                </div>

                            
                            </div>


                        </div>
                    </div>

                    <div class="row mt-3 text-right">
                        <div class="col-sm-12 text-right">
                            <button mdbBtn size="sm" color="danger" class="waves-light" mdbWavesEffect (click)="regresar()">Regresar</button>
                            <button mdbBtn size="sm" type="submit" [disabled]="!registerForm.valid || disabled" color="primary" class="waves-light" mdbWavesEffect>Guardar</button>
                        </div>
                    </div>
                </mdb-card-body>

            </mdb-card>

        </form>
    </div>
</div>