      <!--Content-->
    <div class="modal-content">
      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">
        <!-- Tab panels -->
        <mdb-tabset
          #staticTabs
          [buttonClass]="'nav md-tabs tabs-4 red darken-1'"
          [contentClass]="''"
          class="tab-content"
        >
          <!--Panel 7-->
          <mdb-tab
            class="tab-pane fade in show active"
            id="panel7"
            role="tabpanel"
            heading="<i class='fas fa-edit'></i> Editar"
          >
            <!--Body-->
            <div class="modal-body mb-1">

              <app-editar-almacen [registro]="content.registro" (submitChange)="onEditRegistro($event)"></app-editar-almacen>

            </div>
          </mdb-tab>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <mdb-tab
            class="tab-pane fade"
            id="panel8"
            role="tabpanel"
            heading="<i class='fas fa-shipping-fast'></i> Movimientos"
          >
            <!--Body-->
            <div class="modal-body">
              <app-movimientos-almacen [registro]="content.registro" (submitChange)="onEditRegistro($event)"></app-movimientos-almacen>
            </div>
          </mdb-tab>
          <!--/.Panel 8-->


           <!--Panel 8-->
          <mdb-tab
            class="tab-pane fade"
            id="panel8"
            role="tabpanel"
            heading="<i class='fas fa-building'></i> Empresas"
          >
            <!--Body-->
            <div class="modal-body">
              <app-empresas-almacen [registro]="content.registro" (submitChange)="onEditRegistro($event)"></app-empresas-almacen>
            </div>
          </mdb-tab>
          <!--/.Panel 8-->

          <!--Panel 8-->
          <mdb-tab
            class="tab-pane fade"
            id="panel8"
            role="tabpanel"
            heading="<i class='fas fa-users'></i> Usuarios"
          >
            <!--Body-->
            <div class="modal-body">
              <app-permisos-almacen [registro]="content.registro" (submitChange)="onEditRegistro($event)"></app-permisos-almacen>
            </div>
          </mdb-tab>
          <!--/.Panel 8-->

        </mdb-tabset>
      </div>
    </div>
    <!--/.Content-->
