<div class="row">

    <div class="col-sm-12 col-md-3">
        <div class="row">
            <div class="col-12">
                <mdb-card>
                    <mat-calendar [(selected)]="selected" (selectedChange)="onSelectDate($event)"></mat-calendar>
                </mdb-card>
            </div>    
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <form class="form-horizontal form-material" [formGroup]="registerForm">
                    <mdb-card>
                        <mat-form-field class="mt-2 col-12">
                            <mat-label>Especialidad</mat-label>
                            <mat-select (selectionChange)="onSelectEspecialidad($event)" formControlName="especialidad">
                                <mat-option *ngFor="let item of especialidades" [value]="item.id">
                                    {{item.nombre | uppercase}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mt-n3 col-12">
                            <mat-label>Especialistas</mat-label>
                            <mat-select (selectionChange)="onSelectEspecialista($event)" formControlName="especialista">
                                <mat-option *ngFor="let item of especialistas" [value]="item.id">
                                    {{item.especialista | uppercase}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                </mdb-card>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-9">
        <app-calendar-events 
                [changeDate]="changeDate"
                [especialidad_id]="especialidad_id"
                [especialista_id]="especialista_id"
                (changeDateCalendar)="setNewDate($event)"
                [tipoAgenda]="2"
                *ngIf="enable_citas">
        </app-calendar-events>
        <app-calendar-events 
                [changeDate]="changeDate"
                [especialidad_id]="especialidad_id"
                [especialista_id]="especialista_id"
                (changeDateCalendar)="setNewDate($event)"
                [tipoAgenda]="1"
                *ngIf="enable_horarios">
        </app-calendar-events>
        <app-nuevo-ingreso
                [changeDate]="changeDate"
                [especialidad_id]="especialidad_id"
                [especialista_id]="especialista_id"
                (changeDateCalendar)="setNewDate($event)"
                (submitCita)="setIngreso($event)"
                *ngIf="add_cita">
        </app-nuevo-ingreso>
    </div>
    
</div>


<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">

    <a mdbBtn [floating]="true" size="lg" [color]="color" class="waves-light" mdbWavesEffect (click)="fixed.toggle()">
      <mdb-icon fas [icon]="icon" ></mdb-icon>
    </a>
  
    <div class="fixed_collapse" mdbCollapse="isCollapsed" #fixed="bs-collapse">
      <a mdbBtn [floating]="true" color="indigo" class="waves-light" mdbWavesEffect mdbTooltip="Nueva Cita" placement="left" *ngIf="!add_cita"><mdb-icon fas icon="calendar-plus" (click)="addCita()" ></mdb-icon></a>
      <a mdbBtn [floating]="true" color="secondary" class="darken-1 waves-light" mdbWavesEffect mdbTooltip="Horarios Disponibles" placement="left"  *ngIf="!enable_horarios"><mdb-icon fas icon="clipboard-list" (click)="verHorarios()" ></mdb-icon></a>
      <a mdbBtn [floating]="true" color="primary" class="waves-light" mdbWavesEffect mdbTooltip="Ver Citas" placement="left" *ngIf="!enable_citas"><mdb-icon fas icon="calendar-alt" (click)="verCitas()" ></mdb-icon></a>
    </div>
  
  </div>