

    <div class="row">
        <div class="col-sm-12">

            <div class="row mt-n4">
                <div class="col-md-12">
                <div class="md-form form-sm">
                    <input
                    type="text"
                    class="form-control"
                    mdbInput
                    [(ngModel)]="filter"
                    (keyup)="applyFilter($event)"
                    />
                    <label for="search">Buscar Empresa</label>
                </div>
                </div>
            </div>

            <ul class="list-group"  style="overflow: auto; height: 50vh">
                <li class="list-group-item" *ngFor="let registro of registros">
                <mdb-checkbox [default]="true" [(ngModel)]="registro.boolean" (change)="changeAsignacion(registro)"></mdb-checkbox> {{ registro.razon_social }}
                </li>
            </ul>
        </div>

    </div>

    <hr>

  <div class="text-center form-sm">
      <button mdbBtn size="sm" (click)="cerrarModal()" color="danger" class="waves-light" mdbWavesEffect>Cerrar</button>
  </div>
