.titulo_seccion {
    font-weight: bold;
    color: #757575;
    font-size: 0.9rem;
    border-bottom: 1px solid #757575;
    margin-bottom: 25px;
}

td,
th{
    vertical-align: middle;
}

.border{
    border: 5px solid #222121;
}