<div class="row">

    <div class="col-sm-12 col-md-3">
        <div class="row">
            <div class="col-12">
                <mdb-card>
                    <mat-calendar [(selected)]="selected" (selectedChange)="onSelectDate($event)"></mat-calendar>
                </mdb-card>
            </div>    
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <mdb-card>
                        <mat-form-field class="mt-2 col-12">
                            <mat-label>Especialidad</mat-label>
                            <mat-select (selectionChange)="onSelectEspecialidad($event)">
                                <mat-option *ngFor="let item of especialidades" [value]="item.id">
                                    {{item.nombre | uppercase}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="mt-n3 col-12">
                            <mat-label>Especialistas</mat-label>
                            <mat-select (selectionChange)="onSelectEspecialista($event)">
                                <mat-option *ngFor="let item of especialistas" [value]="item.id">
                                    {{item.especialista | uppercase}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                </mdb-card>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-9">
        <app-horario-detalle 
                [changeDate]="changeDate"
                [especialidad_id]="especialidad_id"
                [especialista_id]="especialista_id"
                (changeDateCalendar)="setNewDate($event)"
                *ngIf="!add_horario">
        </app-horario-detalle>
        <app-ingresar-horario 
                [changeDate]="changeDate"
                [especialidad_id]="especialidad_id"
                [especialista_id]="especialista_id"
                (changeDateCalendar)="setNewDate($event)"
                *ngIf="add_horario">
        </app-ingresar-horario>
    </div>
    
</div>



<div class="fixed-action-btn" style="bottom: 5px; right: 24px;">
    <a mdbBtn [floating]="true" size="lg" color="red" class="waves-light" mdbWavesEffect (click)="addHorario()" *ngIf="!add_horario">
      <mdb-icon fas icon="plus" ></mdb-icon>
    </a>

    <a mdbBtn [floating]="true" size="lg" color="red" class="waves-light" mdbWavesEffect (click)="closeHorario()" *ngIf="add_horario">
        <mdb-icon fas icon="close" ></mdb-icon>
      </a>
  
</div>