<div class="modal-content">

    <form class="form-horizontal form-material" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="modal-header text-center">
        <p class="heading lead"><mdb-icon fas icon="edit"></mdb-icon> Grupo de Laboratorio</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">

            <div class="row ">
                <div class="col-sm-12 col-xs-12">
                      <div class="md-form form-sm ">
                        <input type="text" id="nombre" formControlName="nombre" class="form-control form-control-sm"
                               mdbInput mdbValidate>
                        <label for="nombre"  class="font-weight-bold">Examen de Laboratorio (*)</label>

                      </div>
                 </div>
            </div>

            <div class="row mt-n4">
                <div class="col-md-6">
                  <div class="md-form form-sm">
                    <input
                      type="text"
                      class="form-control"
                      mdbInput
                      (keyup)="applyFilter($event)"
                    />
                    <label for="search">Buscar Análisis</label>
                  </div>
                </div>
              </div>


            <div class="row">
                <div class="col-sm-6"  style="height:40vh; overflow:auto;">
                    <table class="table table-sm table-bordered text-nowrap">
                        <thead>
                            <tr class="mdb-color darken-5 white-text">
                                <th colspan="3">Lista de Análisis</th>
                            </tr>
                            <tr class="mdb-color darken-3 white-text">
                                <th>Análisis</th>
                                <th>Unidad</th>
                                <th>Rango</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of analisis" [ngClass]="{'select': item.checked}">
                                <td><a (click)="addItem(item)">{{ item.nombre }}</a></td>
                                <td class="text-center">{{ item.um }}</td>
                                <td class="text-center">{{ item.rango }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-6"  style="height:40vh; overflow:auto;">
                    <table class="table table-sm table-bordered text-nowrap">
                        <thead>
                            <tr class="mdb-color darken-5 white-text">
                                <th colspan="3">Análisis Registrados</th>
                            </tr>
                            <tr class="mdb-color darken-3 white-text">
                                <th>Análisis</th>
                                <th>Unidad</th>
                                <th>Rango</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of analisis_registrados">
                                <td><a (click)="quitarItem(item)">{{ item.nombre }}</a></td>
                                <td class="text-center">{{ item.um }}</td>
                                <td class="text-center">{{ item.rango }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn size="sm" type="cancel" color="danger" class="waves-light" mdbWavesEffect>Cancelar</button>
        <button mdbBtn size="sm" type="submit" [disabled]="!registerForm.valid || disabled" color="info" class="waves-light" mdbWavesEffect>Grabar</button>
      </div>

    </form>

</div>
