
    <div class="row">
        <div class="col-sm-9">

            <div class="row">
                <div class="col-sm-12">
                    <div class="file-field md-form">
                        <div mdbBtn [floating]="true" size="sm" color="primary" class="waves-light" mdbWavesEffect mdbTooltip="Subir Archivo">
                            <mdb-icon fas icon="cloud-upload-alt" aria-hidden="true"></mdb-icon>
                            <input type="file" mdbFileSelect (change)="seleccionImagen($event)" >
                        </div>
                        <div class="file-path-wrapper mt-3">
                            <input class="file-path" type="text" placeholder="Seleccione una Imagen" [(ngModel)]="fileName_imagen" readonly>
                        </div>
                        <!-- <div mdbBtn [floating]="true" size="sm" color="info" mdbWavesEffect mdbTooltip="Capturar Foto">
                            <mdb-icon fas icon="camera" aria-hidden="true"></mdb-icon>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="row mt-n4">
                <div class="col-sm-6">
                    <div class="file-field md-form">
                        <div mdbBtn [floating]="true" size="sm" color="primary" mdbWavesEffect mdbTooltip="Subir Archivo">
                            <mdb-icon fas icon="cloud-upload-alt" aria-hidden="true"></mdb-icon>
                            <input type="file" mdbFileSelect (change)="seleccionFirma($event)" >
                        </div>
                        <div class="file-path-wrapper mt-3">
                            <input class="file-path" type="text" placeholder="Seleccione Firma" [(ngModel)]="fileName_firma" readonly>
                        </div>
                        <!-- <div mdbBtn [floating]="true" size="sm" color="info" mdbWavesEffect mdbTooltip="Capturar Firma">
                            <mdb-icon fas icon="file-signature" aria-hidden="true"></mdb-icon>
                        </div> -->
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="file-field md-form">
                        <div mdbBtn [floating]="true" size="sm" color="primary" mdbWavesEffect mdbTooltip="Subir Archivo">
                            <mdb-icon fas icon="cloud-upload-alt" aria-hidden="true"></mdb-icon>
                            <input type="file" mdbFileSelect (change)="seleccionHuella($event)" >
                        </div>
                        <div class="file-path-wrapper mt-3">
                            <input class="file-path" type="text" placeholder="Seleccione Huella" [(ngModel)]="fileName_huella" readonly>
                        </div>
                        <!-- <div mdbBtn [floating]="true" size="sm" color="info" mdbWavesEffect mdbTooltip="Capturar Huella">
                            <mdb-icon fas icon="fingerprint" aria-hidden="true"></mdb-icon>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="row mt-n4">
                <div class="col-sm-6 text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <img *ngIf="url_firma" [src]="url_firma" >
                            <img *ngIf="!url_firma" [src]="firmaUrl" >
                        </div>
                    </div>
                    <div class="row" *ngIf="firmaSubir || url_firma">
                        <div class="col-sm-12">
                            <div mdbBtn [floating]="true" size="sm" color="danger" mdbWavesEffect mdbTooltip="Quitar Firma" (click)="quitarFirma()">
                                <mdb-icon fas icon="trash" aria-hidden="true"></mdb-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <img *ngIf="url_huella" [src]="url_huella" >
                            <img *ngIf="!url_huella" [src]="huellaUrl" >
                        </div>
                    </div>
                    <div class="row" *ngIf="huellaSubir || url_huella">
                        <div class="col-sm-12">
                            <div mdbBtn [floating]="true" size="sm" color="danger" mdbWavesEffect mdbTooltip="Quitar Huella" (click)="quitarHuella()">
                                <mdb-icon fas icon="trash" aria-hidden="true"></mdb-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-sm-3 text-center">
            <div class="row">
                <div class="col-sm-12">
                    <img *ngIf="url_imagen" [src]="url_imagen" >
                    <img *ngIf="!url_imagen" [src]="imageUrl" >
                </div>
            </div>
            <div class="row" *ngIf="imagenSubir || url_imagen">
                <div class="col-sm-12">
                    <div mdbBtn [floating]="true" size="sm" color="danger" mdbWavesEffect mdbTooltip="Quitar Foto" (click)="quitarImagen()">
                        <mdb-icon fas icon="trash" aria-hidden="true"></mdb-icon>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12  d-flex justify-content-center">
            <button mdbBtn size="sm" type="cancel" color="secondary" (click)="regresar()">Regresar</button>
            <button mdbBtn size="sm" type="submit" (click)="onSubmit()" [disabled]="disabled" color="primary" class="waves-light" mdbWavesEffect>Continuar</button>
        </div>
    </div>
