.card-footer {
    padding: 12px 10px;
}

mdb-card-footer{
    // margin-top: 10%;
}

td{
    vertical-align: middle;
}

.edad{
    float: right;
    font-style: italic;
}

td span{
    font-size: 0.6rem;
}