<div class="row">
    <div class="col-md-12 col-lg-12">
        <mdb-card class="mdb-card-80">
            <mdb-card-body>

                <div class="flex-row mt-3">
                    <div class="table-responsive text-nowrap">
                      <table mdbTable [bordered]="true" [small]="true" [hover]="true" scrollY="true" >
                        <thead>
                          <tr class="mdb-color darken-3 white-text">
                            <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
                          </tr>
                        </thead>
                        <tbody *ngIf="registros">
                          <tr mdbTableCol *ngFor="let registro of registros; let i = index">
                            <td class="text-center">{{ i + 1 }}</td>
                            
                            <td style="width: 30%">
                              {{ registro.nombre_paciente }}<br>
                              <span>{{ registro.no_documento }}</span>
                              <span class="edad">{{ registro.edad }} años</span>
                            </td>
                            <td class="text-center">{{ registro.nombre_tipo_cita }}</td>
                            <td style="width: 30%">
                              {{ registro.nombre_especialista }}<br>
                              <span><mdb-badge [pill]="true" [primary]="true">{{ registro.nombre_especialidad | uppercase }}</mdb-badge></span>
                            </td>
                            <td class="text-center">{{ registro.fecha }}</td>
                            <td class="text-center">{{ registro.hora }}</td>
                            <td class="text-center">{{ registro.hora_fin }}</td>
                            <td class="text-center">
                                <mdb-badge [danger]="true"  style="cursor: pointer" *ngIf="registro.status_pago == 1">
                                  {{ registro.tipo_stado_pago }}
                                </mdb-badge>
                                <mdb-badge [info]="true"  style="cursor: pointer" *ngIf="registro.status_pago == 2">
                                  {{ registro.tipo_stado_pago }}
                                </mdb-badge>
                                <mdb-badge [success]="true"  style="cursor: pointer" *ngIf="registro.status_pago == 3">
                                  {{ registro.tipo_stado_pago }}
                                </mdb-badge>
                            </td>
                            <td style="width: 10%;" class="text-right">{{ registro.costo_total | number:'1.2-2' }}</td>
                            <td style="width: 10%;" class="text-right">{{ registro.monto_pendiente | number:'1.2-2' }}</td>
                            <td class="text-center">{{ registro.created | date: "dd/MM/yyyy, h:mm a" }}</td>


                            <td style="width: 5%" class="text-center">
                                <!-- <mdb-badge [danger]="true"  style="cursor: pointer">
                                  <mdb-icon fas icon="pencil-alt" ></mdb-icon> Editar
                                </mdb-badge> -->
                            </td>

                  
                          </tr>
                        </tbody>

                        <tbody *ngIf="!registros.length">
                          <tr mdbTableCol >
                            <td style="width: 115%" colspan="11">No se encontraron registros</td>
                          </tr>
                        </tbody>

                      </table>
                    </div>
                  </div>
            </mdb-card-body>

            <mdb-card-footer class="text-muted">
                <app-pagination
                      (goNext)="onNext()"
                      (goPrev)="onPrev()"
                      [pagesToShow]="1"
                      [page]="page"
                      [perPage]="perPage"
                      [count]="total">
                  </app-pagination>
              </mdb-card-footer>
        </mdb-card>
    </div>
</div>