    <div class="modal-content">


        <div class="modal-header text-center">
          <p class="heading lead"><mdb-icon fas icon="eye"></mdb-icon> {{ content.registro.nombre }}</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">

                    <form class="form-horizontal form-material" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                        <div class="form-row ">

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="md-form form-sm form-group mt-1">
                                    <input type="text" id="nombre" formControlName="nombre" class="form-control"
                                            mdbInput mdbValidate (change)="setAbrv()">
                                    <label for="nombre"  class="font-weight-bold">Nombre (*)</label>

                                    </div>
                            </div>

                            <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="md-form form-sm form-group mt-1">
                                    <input type="text" id="abreviado" formControlName="abreviado" class="form-control"
                                            mdbInput mdbValidate>
                                    <label for="abreviado">Abreviado</label>

                                    </div>
                            </div>

                            <div class="col-md-2 col-sm-12 col-xs-12">
                                  <button mdbBtn size="sm" type="submit" [disabled]="!registerForm.valid" color="danger" class="waves-light" mdbWavesEffect>Añadir</button>
                            </div>


                        </div>

                    </form>
            
                    <div class="flex-row" *ngIf="registros.length > 0">
                      <div class="table-responsive text-nowrap">
                        <table mdbTable [responsive]="true" [bordered]="true" [small]="true" [hover]="true" scrollY="true" style="overflow: auto; height: 50vh">
                          <thead>
                            <tr class="danger-color-dark white-text">
                              <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
                            </tr>
                          </thead>
                          <tbody >
                            <tr mdbTableCol *ngFor="let registro of registros">

                              
                              <td style="width: 70%">{{ registro.nombre }}</td>

                              <td class="text-center" style="width: 30%">{{ registro.abreviado }}</td>

                               <td style="width: 10%" class="text-center">
                                    <mdb-checkbox [default]="true"  [(ngModel)]="registro.activo" (change)="changeStatus(registro)"></mdb-checkbox>
                               </td>
                    
                            </tr>
                          </tbody>

                        </table>
                      </div>
                    </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
        </div>


    </div>
