.titulo_seccion {
    font-weight: bold;
    color: #757575;
    font-size: 0.9rem;
    border-bottom: 1px solid #757575;
    margin-bottom: 25px;
}

mat-label{
    font-size: 0.7rem;
}

.file-field input.file-path {
    font-size: 12px;
}

.avatar-pic2 {
    height: 220px;
    /* width: 300px; */
    padding: 10px
}