<mdb-progress-bar *ngIf="disabled" class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>

<div class="row">
    <div class="col-md-12 col-lg-12">

            <mdb-card class="mb-5">
                <mdb-card-body>
                    <div class="row">
                        <div class="col-sm-12">
                            <mdb-stepper #stepper [linear]="true">
                                <mdb-step name="Paciente" class="step1">

                                    <app-datos-personales 
                                        [registro]="{}"
                                        (submitChange)="onSubmitDatosPersonales($event)"
                                    >
                                    </app-datos-personales>


                                </mdb-step>
                                
                                <mdb-step name="Laboral"  class="step2" >

                                    <app-datos-laborales
                                        [registro]="{}"
                                        (previousStep)="regresarDatosLaborales()" 
                                        (submitChange)="onSubmitDatosLaborales($event)"
                                    ></app-datos-laborales>

                                   
                                </mdb-step>

                                <mdb-step name="Biométricos"  class="step2">

                                    <app-datos-biometricos 
                                        [registro]="{}"    
                                        (previousStep)="regresarDatosBiometricos()" 
                                        (submitChange)="onSubmitDatosBiometricos($event)"
                                    ></app-datos-biometricos>
                                    
                                </mdb-step>

                                <mdb-step name="Finalizar" class="step4">
                                    
                                </mdb-step>
                              </mdb-stepper>
                        </div>
                    </div>

                </mdb-card-body>

            </mdb-card>

    </div>
</div>

