/* You can add global styles to this file, and also import other style files */
  
html, body { height: 100%; }

body{
  background-color: #ececec;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

body::before {
  background:url('/assets/img/galenius_small.png');
  content: "";
  position: absolute;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: bottom right;
  top: 0;
  bottom: 2%;
  right: 2%;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

// @media (min-width: 1200px) {
//   .fixed-sn main, .fixed-sn .page-footer .container-fluid {
//     margin-left: 2%;
//     margin-right: 2%;
//   }
// }

.modal-dialog.modal-notify .heading{
    font-weight: bold;
  }
  
  .heading i {
    color: white!important;
  }
  
  .button-collapse{
    color: #ffffff!important;
  }
  
  .md-form label{
    font-size: 0.75rem!important;
  }
  
  .md-form input[type=text]{
    font-size: 0.7rem!important;
  }

  .form-control-sm{
    font-size: 0.7rem!important;
  }
  
  .form-check-label {
      font-size: 0.6rem!important;
  }
  
  mdb-select > div > div.single > div.placeholder {
    font-size: 0.7rem!important;
  }
  
  
  mdb-select > div > div.single > div.value {
    font-size: 0.7rem!important;
  }
  
  mdb-select-dropdown .dropdown-content li > a, mdb-select-dropdown .dropdown-content li > span {
    font-size: 0.6rem!important;
  }

  //
  //
  //.mat-header-row, .mat-row{
  //  min-height: 38px!important;
  //}
  //
  //.mat-cell{
  //  font-size: 0.7rem;
  //  padding-left: 10px;
  //  color: dimgrey;
  //}
  //
  //.mat-header-cell{
  //  color: white!important;
  //  text-align: center;
  //  background-color: #ff3547!important;
  //}
  //
  //mat-header-cell {
  //    display: flex;
  //    justify-content: center;
  //}
  
  table.table-sm th{
    text-align: center;
    font-size: 0.7rem;
    padding: 0.2rem!important;
  }
  
  table.table-sm td{
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem !important;
  }
  
  .mdb-card-80 {
    height: 80vh!important
  }
 
  .card-footer nav ul{
    margin: -5px 0!important;
  }
  
  .card-footer{
    background-color: #1c2331!important;
    padding: 5px 10px;
  }
  
  
  .pagination.pg-white .page-item.active .page-link {
      background-color: #fff;
      color: #000000!important;
  }
  
  .pagination .page-item .page-link{
    color: #ffffff;
    margin-top: 5px;
  }
  
  .completer-dropdown .completer-row {
      padding: 5px 10px !important;
      font-size: 0.7rem !important;
  }
  
  .modal-dialog.cascading-modal .modal-c-tabs .md-tabs {
      margin: -2.5rem 1rem 0 1rem!important;
  }
  
  .cascading-modal {
    top: -10%!important;
  }
  
  .custom-select {
    font-size: 0.8rem;
  }

  .form-check-input[type=checkbox].filled-in:checked + label:after, label.btn input[type=checkbox].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #59698d!important;
    background-color: #59698d!important;
    z-index: 0;
}

.mdb-main-label{
  font-size: 0.6rem!important;
  color: #757575
}

.select-wrapper>label.mdb-main-label.active,
.select-wrapper>label.mdb-main-label{
    font-size: 0.7rem;
}

.select2-results__option{
  font-size: 0.7rem;
}

.select2-selection__rendered {
  font-size: 0.7rem;
}

.select2-container--default .select2-results__option--highlighted{
  background: #59698d!important;
}

.select2-search__field{
  font-size: 0.7rem;
}


/// MATERIAL
mat-label{
  font-size: 0.8rem;
}

.mat-mdc-select-trigger {
  font-size: 0.8rem;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #ffffff!important;
}

.mat-mdc-option {
  font-size: 0.8rem;
  min-height: 36px!important;
}