    <div class="modal-content">

      <form class="form-horizontal form-material" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="modal-header text-center">
          <p class="heading lead"><mdb-icon fas icon="plus"></mdb-icon> Unidad Medida</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">

               <div class="form-row">

                  <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="md-form form-sm form-group mt-1">
                          <input
                            formControlName="nombre_um"
                            type="text"
                            class="completer-input form-control mdb-autocomplete mb-0"
                            [mdbAutoCompleter]="auto"
                            placeholder="Codigo o Descripción Unidad Medida"
                            (keydown)="onKeydown($event)"
                            (keyup)="buscarUM($event)"
                          />
                          <mdb-auto-completer #auto="mdbAutoCompleter" textNoResults="No se encontraron resultados" [clearButton]="false" (select)="selectUM($event)">
                            <mdb-option *ngFor="let item of filteredUM | async" [value]="item.nombre">
                              {{ item.nombre }}
                            </mdb-option>
                          </mdb-auto-completer>
                        </div>
                  </div>

              </div>

               <div class="form-row">

                  <div class="col-md-8 col-sm-12 col-xs-12">
                          <div class="md-form form-sm form-group mt-1">
                            <input type="text" id="unidad_medida" formControlName="unidad_medida" class="form-control"
                                  mdbInput mdbValidate>
                            <label for="unidad_medida"  class="font-weight-bold">Descripción (*)</label>

                          </div>
                  </div>
                  

                  <div class="col-md-4 col-sm-12 col-xs-12">
                          <div class="md-form form-sm form-group mt-1">
                            <input type="text" id="codigo" formControlName="codigo" class="form-control"
                                  mdbInput mdbValidate>
                            <label for="codigo">Codigo UM</label>
                          </div>
                  </div>

              </div>

               <div class="form-row">
                  <div class="col-md-8 col-sm-12 col-xs-12">
                          <div class="md-form form-sm form-group mt-1">
                            <input type="text" id="nombre_tributario" formControlName="nombre_tributario" class="form-control"
                                  mdbInput mdbValidate readonly>
                            <label for="nombre_tributario"  class="font-weight-bold">Descripción en SUNAT</label>

                          </div>
                  </div>
                  

                  <div class="col-md-4 col-sm-12 col-xs-12">
                          <div class="md-form form-sm form-group mt-1">
                            <input type="text" id="codigo_tributario" formControlName="codigo_tributario" class="form-control"
                                  mdbInput mdbValidate readonly>
                            <label for="codigo_tributario">Codigo Tributario</label>
                          </div>
                  </div>

              </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn size="sm" type="submit" [disabled]="!registerForm.valid" color="danger" class="waves-light" mdbWavesEffect>Grabar</button>
        </div>

      </form>

    </div>
