    <div class="modal-content">

      <form class="form-horizontal form-material" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="modal-header text-center">
          <p class="heading lead"><mdb-icon fas icon="plus"></mdb-icon> Almacén</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">

              <div class="form-row ">
                   
                   <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="md-form form-sm form-group mt-1">
                          <input type="text" id="almacen" formControlName="almacen" class="form-control"
                                 mdbInput mdbValidate>
                          <label for="almacen"  class="font-weight-bold">Nombre Almacén (*)</label>

                        </div>
                   </div>

                   <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="md-form form-sm form-group mt-1">
                          <input type="text" id="abreviado" formControlName="abreviado" class="form-control"
                                 mdbInput mdbValidate>
                          <label for="abreviado">Abreviado</label>

                        </div>
                   </div>

                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <div class="md-form form-sm form-group mt-1">
                          <input type="text" id="codigo_almacen" formControlName="codigo_almacen" class="form-control"
                                 mdbInput mdbValidate>
                          <label for="codigo_almacen">Código Almacén</label>

                        </div>
                   </div>

              </div>

            <div class="form-row ">
                   <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="md-form form-sm form-group mt-1">
                          <input type="text" id="direccion" formControlName="direccion" class="form-control"
                                 mdbInput>
                          <label for="direccion">Dirección</label>

                        </div>
                    </div>
              </div>

            <div class="form-row ">
                   

                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="md-form form-sm form-group mt-1">
                          <input type="text" id="responsable" formControlName="responsable" class="form-control"
                                 mdbInput>
                          <label for="responsable">Responsable</label>

                        </div>
                   </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="md-form form-sm form-group mt-1">
                          <input type="text" id="num_ingreso" formControlName="num_ingreso" class="form-control"
                                 mdbInput>
                          <label for="num_ingreso">N° Ingresos</label>

                        </div>
                   </div>

                   <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="md-form form-sm form-group mt-1">
                          <input type="text" id="num_salida" formControlName="num_salida" class="form-control"
                                 mdbInput>
                          <label for="num_salida">N° Salidas</label>

                        </div>
                   </div>

              </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn size="sm" type="submit" [disabled]="!registerForm.valid" color="danger" class="waves-light" mdbWavesEffect>Grabar</button>
        </div>

      </form>

    </div>
