
    <div class="form-row mt-n1">

        <div class="col-sm-2">
            <div class="md-form form-sm">
                <input mdbInput type="number" id="id_talla" class="form-control form-control-sm text-center" [(ngModel)]="talla">
                <label  for="id_talla" class="active">Talla (m)</label>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="md-form form-sm">
                <input mdbInput type="number" id="id_peso" class="form-control form-control-sm text-center" [(ngModel)]="peso">
                <label for="id_peso" class="active">Peso</label>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="md-form form-sm">
                <input mdbInput type="number" id="id_imc" class="form-control form-control-sm text-center" [(ngModel)]="imc">
                <label  for="id_imc" class="active">IMC</label>
            </div>
        </div>


        <div class="col-sm-2">
            <div class="md-form form-sm">
                <input mdbInput type="number" id="id_perimetro_abdominal" class="form-control form-control-sm text-center" [(ngModel)]="perimetro_abdominal">
                <label  for="id_perimetro_abdominal" class="active">Perimetro Abdominal</label>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="md-form form-sm">
                <input mdbInput type="number" id="id_perimetro_cadera" class="form-control form-control-sm text-center" [(ngModel)]="perimetro_cadera">
                <label  for="id_perimetro_cadera" class="active">Perimetro Cadera</label>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="md-form form-sm">
                <input mdbInput type="number" id="id_icc" class="form-control form-control-sm text-center" [(ngModel)]="icc">
                <label  for="id_icc" class="active">ICC</label>
            </div>
        </div>

    </div>

    <div class="form-row">

        <div class="col-sm-2">
            <div class="md-form form-sm">
                <input mdbInput type="number" id="id_fr" class="form-control form-control-sm text-center" [(ngModel)]="fr">
                <label  for="id_fr" class="active">Frec. Resp</label>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="md-form form-sm">
                <input mdbInput type="number" id="id_fc" class="form-control form-control-sm text-center" [(ngModel)]="fc">
                <label  for="id_fc" class="active">Frec. Card</label>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="md-form form-sm">
                <input mdbInput type="text" id="id_pa" class="form-control form-control-sm text-center" [(ngModel)]="pa">
                <label  for="id_pa" class="active">P/A</label>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="md-form form-sm">
                <input mdbInput type="text" id="id_temperatura" class="form-control form-control-sm text-center" [(ngModel)]="temperatura">
                <label  for="id_temperatura" class="active">Temperatura (°C)</label>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="md-form form-sm">
                <input mdbInput type="number" id="id_sat" class="form-control form-control-sm text-center" [(ngModel)]="sat">
                <label  for="id_sat" class="active">% SAT</label>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="md-form form-sm">
                <input mdbInput type="text" id="id_triaje_otros" class="form-control form-control-sm text-center" [(ngModel)]="triaje_otros">
                <label  for="id_triaje_otros" class="active">Otros</label>
            </div>
        </div>

    </div>